body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.header{
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 15vh;
}

.e-commerce-container{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  justify-content: center;
}

.item-card {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  align-self: stretch;
}

.main-component {
  box-sizing: border-box;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 5px;
  margin: 0 10%;
  height: 85vh;
  overflow-y: scroll;
  text-align: center;
}

.left-menu {
  display: flex;
  justify-content: space-around;
  color: white;
}

.left-menu > div, .right-menu > div > div  {
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid black;
}

.icon {
  width: 20px;
  height: 20px;
}

.right-menu > div > div:hover {
  border: 3px solid white;
  transition: 0.2s ease-in;
  cursor: pointer;
}

select {
  border: 2px solid white;
  border-right: none;
  display: block;
  height: 30px;
  background-color: white;
}

select:focus {
  outline-color: silver;
}

input[type=text] {
  padding: 0;
  border: 0;
  border-radius: 5px;
  width: 30em;
  border-left: none;
  background-color: white;
  display: block;
  height: 30px;
}

input[type=text]:focus{
  outline-color: silver;
}

.filter {
  display: flex;
}

.right-menu{
  color: white;
}

.items-container {
  display: flex
}