body{
  margin: 0;
  padding: 0;
}

.header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-menu {
  display: flex;
  justify-content: space-around;
  color: white;
}

.left-menu > div, .right-menu > div  {
  padding: 10px 20px;
  border-radius: 10px;
}

.left-menu > div:hover, .right-menu > div:hover {
  background-color: white;
  color: black;
  transition: 0.2s ease-in
}


.right-menu{
  color: white;
}